.overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
}

#contenido {
    height: 70vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transform: translateZ(0);
    background-size: 100% 100%;
    background-image: url("../src/assets/dorso-tarjeta.svg");
}

h3 {
    color: white;
}
